Repository lunatech-labs/lunatech-timekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, tests, frontend, devops

.github/labeler.yml:

# https://github.com/actions/labeler/blob/master/README.md
  backend:
    - src/main/*

  tests:
    - src/main/test/*

  frontend:
    - frontend/*

  devops:
    - infrastructure/*

elk dependencies
  infrastructure/elk/elk.yml
  pom.xml
  src/main/resources/application.properties
Labels: none

Missing docker files from feature/TK-XX-metrics
  infrastructure/monitoring/Dockerfile
  infrastructure/monitoring/prometheus/prometheus-acceptance.yml
  infrastructure/monitoring/prometheus/prometheus-dev.yml
Labels: none

Missing docker files from feature/TK-XX-metrics
  infrastructure/docker-compose.yml
Labels: devops

Time entries gauge
  src/main/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberOfHoursGauge.java
  src/main/java/fr/lunatech/timekeeper/resources/TimeEntryResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/TimeEntryResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
Labels: none

Remove useless changes
  src/main/java/fr/lunatech/timekeeper/resources/TimeEntryResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/TimeEntryResourceApi.java
Labels: none

Show user id on the logs.
  infrastructure/elk/elk.yml
  src/main/java/fr/lunatech/timekeeper/resources/providers/AuthenticationContextProvider.java
  src/main/resources/application.properties
Labels: none

Add MDC values in the structured logs
  src/main/resources/application.properties
Labels: none

Define the format for dev and prod environment
  src/main/resources/application.properties
Labels: none

Add error on the loggers for the stacktrace (in dev and elk)
  src/main/java/fr/lunatech/timekeeper/resources/handlers/CalendarNotFoundExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ConflictOnVersionExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/CreateResourceExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ForbiddenExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/IllegalEntityStateExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ResourceNotFoundExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/RollbackExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/UpdateResourceExceptionMapper.java
  src/main/resources/application.properties
Labels: none

Show MDC in logs
  src/main/resources/application.properties
Labels: none

unit tests for momentUtils
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: none

Add tests to momentUtils lib
  frontend/src/utils/momentUtils.test.js
Labels: none

changes requested + linter
  frontend/src/components/Clients/ClientList.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/Projects/ProjectList.js
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/AddEntryForm.less
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/components/TimeEntry/HoursOptions.js
  frontend/src/utils/utils.js
Labels: none

changes requested
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/components/TimeEntry/SelectHoursComponent.js
Labels: none

disabled changes
  frontend/src/components/TimeEntry/AddEntryForm.less
  frontend/src/variables.less
Labels: none

add userEvent in weekdata
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/WeekService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
Labels: none

get UserEvent in MonthData
  src/main/java/fr/lunatech/timekeeper/services/MonthService.java
Labels: none

Logstash configuration.
  infrastructure/elk/elk.yml
  infrastructure/elk/logstash/Dockerfile
  infrastructure/elk/logstash/config/logstash.conf
  infrastructure/elk/logstash/config/logstash.yml
  infrastructure/elk/logstash/config/pipeline/pipeline.yml
  src/main/resources/application.properties
Labels: none

Javadoc and tests for number of hours between two localdatetime
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtilsTest.java
Labels: none

Rename Gauge. Fix name of method
  src/main/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGauge.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
Labels: none

Test the gauge
  src/test/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGaugeTest.java
Labels: none

Fix for Timezone
  frontend/package.json
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: frontend

More tests on the momentUtils lib
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: none

Add some javascript unit tests to momentUtils.js (#279)
  frontend/package.json
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: frontend

Delete Dockerfile and logstash configuration
  infrastructure/elk/elk.yml
  infrastructure/elk/logstash/Dockerfile
  infrastructure/elk/logstash/config/logstash.conf
  infrastructure/elk/logstash/config/logstash.yml
  infrastructure/elk/logstash/config/pipeline/pipeline.yml
  src/main/resources/application.properties
Labels: none

display userEvent week
  frontend/src/components/Clients/ClientList.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/Projects/ProjectList.js
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/UserEvent/UserEvent.js
  frontend/src/components/UserEvent/UserEvent.less
  frontend/src/pages/TimeSheet/timeEntriesPage.js
Labels: none

backend
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.js
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
Labels: none

display on week Calendar
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/UserEvent/UserEvent.js
  frontend/src/pages/TimeSheet/timeEntriesPage.js
Labels: none

display monthCalendar
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar.less
  frontend/src/pages/TimeSheet/timeEntriesPage.js
Labels: none

Dockerfile for logstash
  infrastructure/elk/elk.yml
  infrastructure/elk/logstash/Dockerfile
  infrastructure/elk/logstash/config/logstash.conf
  infrastructure/elk/logstash/config/logstash.yml
  infrastructure/elk/logstash/logstash.yml
Labels: none

Revert the Flyway version to 6.5.2 due to Clever-cloud errors
  pom.xml
Labels: none

Logstash with authentication
  infrastructure/elk/logstash/config/logstash.conf
  infrastructure/elk/logstash/config/logstash.yml
Labels: none

completed 8 hrs max
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/UserEvent/UserEvent.js
  frontend/src/utils/momentUtils.js
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
Labels: none

Add a configuration file to disable xpack features
  infrastructure/elk/logstash/Dockerfile
Labels: none

Comments and console.log removed
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: none

refacto
  frontend/src/components/TimeSheet/WeekCalendar.js
Labels: none

Use tcp instead of udp
  infrastructure/elk/logstash/config/logstash.conf
Labels: none

Use port => 12201 as tcp port
  infrastructure/elk/logstash/config/logstash.conf
Labels: none

display userEvent in detail page
  frontend/src/components/Modal/ModalGeneral.less
  frontend/src/components/TimeEntry/TimeEntry.js
  frontend/src/components/TimeEntry/TimeEntryForm.js
  frontend/src/components/UserEvent/UserEventCard.js
  frontend/src/components/UserEvent/UserEventCard.less
  frontend/src/pages/TimeSheet/timeEntriesPage.js
Labels: none

Disabled hours in timeEntriesForm
  frontend/src/components/TimeEntry/TimeEntryForm.js
Labels: none
