Repository lunatech-labs/lunatech-timekeeper, pull requests merged in 2020-10, with the labels that each got.

#346 TK 483 company event creation fix
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/EventsList.less
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/pages/Event/NewEventTemplatePage.js
Labels: Priority: High, Status: Review needed, Type: frontend

#350 Features TK 468, 482 - Create user events for someone else plus all/creator user event filter
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.less
  frontend/src/components/Events/UserTreeData.js
  src/main/java/fr/lunatech/timekeeper/services/requests/UserEventRequest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserEventResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/DataTestProvider.java
Labels: Priority: Medium, Status: Review needed, Type: frontend, javascript

#355 TK-485 The day must not be highlighted in red if an event is added
  frontend/src/pages/TimeSheet/timeEntriesPage.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#349 Features TK-480 && TK-481: create global hours check and compute user event hours
  src/main/java/fr/lunatech/timekeeper/models/time/UserEvent.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/WeekService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/WeekResponse.java
  src/main/java/fr/lunatech/timekeeper/timeutils/CalendarFR2021.java
  src/main/java/fr/lunatech/timekeeper/timeutils/CalendarFactory.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/main/java/fr/lunatech/timekeeper/timeutils/WeekUtils.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/DateUtilsTestResourceProvider.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtilsTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/WeekUtilsTest.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement, Type: backend, Type: unit tests, java

#352 TK-488 display the tag public holiday inside the month calendar
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar.less
  frontend/src/utils/momentUtils.js
Labels: Status: Review needed, Type: frontend, javascript

#351 TK-484 - Add Organisation Id in UserEvent Model
  src/main/java/fr/lunatech/timekeeper/models/time/UserEvent.java
  src/main/java/fr/lunatech/timekeeper/services/requests/UserEventRequest.java
  src/main/resources/db/migration/V22__alter_user_event_to_add_organization_id.sql
  src/test/java/fr/lunatech/timekeeper/resources/utils/DataTestProvider.java
  src/test/java/fr/lunatech/timekeeper/timeutils/WeekUtilsTest.java
Labels: Status: Review needed, Type: backend

#353 TK-487 - The + button must disappear and be replaced by "completed"
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar.less
Labels: Status: Review needed, Type: frontend

#356 TK-493 display number of days left
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/TimeSheet/ShowTimeSheet.js
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtils.java
Labels: Priority: Medium, Status: Review needed, Type: frontend

#354 TK-490 clicking on a project in the clients page links you to the project detail
  frontend/src/components/Clients/ClientList.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#358 Fix Sidebar menu to not display user tab if we're not admin
  frontend/src/components/MenuSidebar/MenuSidebar.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#365 Feature/TK-511 Refactor Month Calendar
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar/CompletedTag.js
  frontend/src/components/TimeSheet/MonthCalendar/DatePanel.js
  frontend/src/components/TimeSheet/MonthCalendar/DisplayTopRightCorner.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthCalendar.less
  frontend/src/components/TimeSheet/MonthCalendar/MonthDayCard.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthNavigator.js
  frontend/src/components/TimeSheet/MonthCalendar/PublicHolidayTag.js
  frontend/src/components/TimeSheet/MonthCalendar/RenderEntries.js
  frontend/src/components/TimeSheet/MonthCalendar/SelectMonth.js
  frontend/src/components/TimeSheet/MonthCalendar/SelectYear.js
  frontend/src/components/TimeSheet/MonthCalendar/UserEventTag.js
  frontend/src/components/TimeSheet/MonthCalendar/UserTimeEntries.js
  frontend/src/components/TimeSheet/MonthCalendar/UserTimeEntry.js
  frontend/src/pages/TimeSheet/timeEntriesPage.js
  frontend/src/utils/jsFunctionUtils.js
Labels: Status: Review needed, Type: frontend, javascript

#362 Feature-TK-495 remove users from project
  src/main/java/fr/lunatech/timekeeper/services/ProjectService.java
  src/main/java/fr/lunatech/timekeeper/services/TimeSheetService.java
  src/test/java/fr/lunatech/timekeeper/resources/ProjectResourceTest.java
Labels: Priority: Medium, Status: Review needed, Type: backend, Type: unit tests, java
