Repository lunatech-labs/lunatech-timekeeper, pull requests merged in 2020-11, with the labels that each got.

#368 Tk 511 refactor week and month calendar
  frontend/src/components/Card/CardWeekCalendar.js
  frontend/src/components/TimeSheet/CalendarUtils.js
  frontend/src/components/TimeSheet/MonthCalendar/CompletedTag.js
  frontend/src/components/TimeSheet/MonthCalendar/DisplayTopRightCorner.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthDayCard.js
  frontend/src/components/TimeSheet/MonthCalendar/RenderMonthEntries.js
  frontend/src/components/TimeSheet/MonthCalendar/RenderTimeEntries.js
  frontend/src/components/TimeSheet/MonthCalendar/TimeEntryForADay.js
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/TimeSheet/WeekCalendar/CardWeekCalendar.less
  frontend/src/components/TimeSheet/WeekCalendar/TimeEntriesForADay.js
  frontend/src/components/TimeSheet/WeekCalendar/UserEventsForADay.js
  frontend/src/components/TimeSheet/WeekCalendar/WeekCalendar.js
  frontend/src/components/TimeSheet/WeekCalendar/WeekCalendar.less
  frontend/src/components/TimeSheet/WeekCalendar/WeekDayCard.js
  frontend/src/components/TimeSheet/WeekCalendar/WeekNavigationPanel.js
  frontend/src/components/UserEvent/UserEvent.js
  frontend/src/pages/TimeSheet/TimeEntriesPage.js
  frontend/src/routes/index.js
Labels: Status: Review needed, Type: frontend, javascript

#371 TK-505-506_Bug_Text_header_&_delete_title
  frontend/src/App.less
  frontend/src/components/Clients/ClientList.less
  frontend/src/components/Projects/EditProjectForm.less
  frontend/src/components/Projects/NewProjectForm.less
  frontend/src/components/Projects/ProjectList.js
  frontend/src/components/Projects/ProjectList.less
  frontend/src/components/SidebarLeft/SidebarLeft.js
  frontend/src/components/TimeSheet/MonthCalendar/MonthCalendar.less
  frontend/src/components/TimeSheet/UserTimeSheetList.less
  frontend/src/components/TimeSheet/WeekCalendar/CardWeekCalendar.less
  frontend/src/components/TimeSheet/WeekCalendar/WeekCalendar.less
  frontend/src/components/TopBar/HeaderProfile.less
  frontend/src/components/TopBar/TopBar.less
  frontend/src/pages/Client/allClients.js
  frontend/src/pages/Client/editClient.js
  frontend/src/pages/Client/newClient.js
  frontend/src/pages/Event/EditEventTemplatePage.js
  frontend/src/pages/Event/NewEventTemplatePage.js
  frontend/src/pages/Event/eventsPage.js
  frontend/src/pages/Home/index.js
  frontend/src/pages/MainPage/MainPage.js
  frontend/src/pages/MainPage/MainPage.less
  frontend/src/pages/Project/allProjects.js
  frontend/src/pages/Project/detailProject.js
  frontend/src/pages/Project/editProject.js
  frontend/src/pages/Project/newProject.js
  frontend/src/pages/TimeSheet/TimeEntriesPage.js
  frontend/src/pages/User/allUsers.js
Labels: Priority: High, Type: bug, Type: frontend

#363 TK-484 - Fix as per comments
  src/main/java/fr/lunatech/timekeeper/models/time/UserEvent.java
  src/main/java/fr/lunatech/timekeeper/resources/UserEventResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/UserEventResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/UserEventRequest.java
  src/test/java/fr/lunatech/timekeeper/resources/OrganizationResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserEventResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/DataTestProvider.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/ResourceDefinition.java
  src/test/java/fr/lunatech/timekeeper/testcontainers/KeycloakTestResource.java
  src/test/resources/db/migration/V1000__test_datas.sql
Labels: Status: Review needed, Type: backend
