Repository lunatech-labs/lunatech-timekeeper, pull requests merged in 2020-09, with the labels that each got.

#302 Fix some code smells reported by Sonar
  src/main/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGauge.java
  src/main/java/fr/lunatech/timekeeper/models/time/TimeSheet.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ForbiddenExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/IllegalEntityStateExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ResourceNotFoundExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/providers/AuthenticationContextProvider.java
  src/main/java/fr/lunatech/timekeeper/resources/providers/OrganizationInitializer.java
  src/main/java/fr/lunatech/timekeeper/services/OrganizationService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/OrganizationRequest.java
  src/main/java/fr/lunatech/timekeeper/services/requests/ProjectRequest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserResourceTest.java
Labels: Status: Review needed, Type: Enhancement, Type: unit tests, java

#308 Feature/tk 458 error message if event combination already exists
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.js
  src/main/java/fr/lunatech/timekeeper/resources/EventResource.java
Labels: Priority: Medium, Status: Review needed, Type: frontend, javascript

#306 Remove list of Attendees from EventTemplate model and response
  src/main/java/fr/lunatech/timekeeper/models/time/EventTemplate.java
  src/main/java/fr/lunatech/timekeeper/resources/EventTemplateResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/EventTemplateResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/EventTemplateService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/EventTemplateRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/EventTemplateResponse.java
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
  src/test/java/fr/lunatech/timekeeper/models/time/EventTemplateTest.java
  src/test/java/fr/lunatech/timekeeper/models/time/UserEventTest.java
  src/test/java/fr/lunatech/timekeeper/resources/EventTemplateResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/InternalResourceUtils.java
  src/test/java/fr/lunatech/timekeeper/services/responses/UserEventResponseTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtilsTest.java
Labels: Priority: Critical, Status: Review needed, Status: ready to merge, Type: backend, Type: unit tests

#310 Refacto on TimeEntry to use numberOfHours instead of endDateTime
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/components/TimeEntry/SelectHoursComponent.js
  frontend/src/components/TimeEntry/ShowTimeEntry.js
  frontend/src/components/TimeEntry/TimeEntry.js
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
  src/main/java/fr/lunatech/timekeeper/models/time/TimeEntry.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/TimeEntryRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponse.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtils.java
  src/main/resources/db/migration/V16__revert_update_on_timesheets.sql
  src/test/java/fr/lunatech/timekeeper/resources/PersonalTimesheetsResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeEntryResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/AuthenticationContextTest.java
  src/test/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponseTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtilsTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtilsTest.java
Labels: Priority: High, Status: ready to merge, Type: backend, Type: frontend, java, javascript

#311 Specific shell to build the app on Clever-cloud
  frontend/clevercloud.sh
  frontend/prod-server.js
Labels: Priority: High, Type: Enhancement, Type: build DevOps

#303 TK 448 take start date into account for time entries
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/utils/timesheetUtils.js
  frontend/src/utils/timesheetUtils.test.js
  src/main/java/fr/lunatech/timekeeper/services/requests/TimeSheetRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponse.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement

#315 Add list of attendees to the eventTemplateResponse
  src/main/java/fr/lunatech/timekeeper/resources/openapi/EventTemplateResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/EventTemplateService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/EventTemplateResponse.java
  src/test/java/fr/lunatech/timekeeper/resources/EventTemplateResourceTest.java
Labels: Priority: High, Status: Review needed, Type: Enhancement

#313 Feature/tk 462 join project the content is not reloaded
  frontend/src/components/Projects/ShowProject.js
  frontend/src/pages/Project/detailProject.js
  frontend/src/utils/timesheetUtils.js
Labels: Priority: Medium, Status: ready to merge, Type: frontend, javascript

#316 Feature/tk 455 modify form to add event type
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Events/UserTreeData.js
Labels: Priority: Medium, Status: ready to merge, Type: frontend, javascript

#314 Feature/tk 452 replace the date time pickers by radio buttons elements
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.less
Labels: Priority: Medium, Status: Review needed, Type: frontend, javascript

#317 TK-461 - Improvement in the list of projects displayed in the "time e…
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/TimeSheet/ProjectCard.js
  frontend/src/components/TimeSheet/ProjectCard.test.js
  frontend/src/components/TimeSheet/UserTimeSheetList.js
  frontend/src/hoc/Aux.js
Labels: Status: Review needed, Type: frontend, javascript

#318 TK-458 duplicate eventTemplate
  frontend/src/components/Events/EditEventTemplateForm.js
  src/main/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGauge.java
  src/main/java/fr/lunatech/timekeeper/models/time/EventTemplate.java
  src/main/java/fr/lunatech/timekeeper/resources/EventTemplateResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/EventTemplateResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/EventTemplateService.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/MonthResponse.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/main/resources/application.properties
  src/main/resources/db/migration/V17__event_template_unique_constraint.sql
  src/test/java/fr/lunatech/timekeeper/models/time/EventTemplateTest.java
  src/test/java/fr/lunatech/timekeeper/models/time/UserEventTest.java
  src/test/java/fr/lunatech/timekeeper/resources/EventTemplateResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/EventTemplateServiceTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceIntegrationTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtilsTest.java
Labels: Priority: Medium, Status: Review needed, Type: backend, java

#322 Fix 3 bugs reported on acceptance
  frontend/src/components/Projects/ProjectClientHeader.js
  src/main/java/fr/lunatech/timekeeper/services/requests/TimeEntryRequest.java
  src/main/resources/db/migration/V18__update_timesheets.sql
Labels: Priority: Critical, Status: ready to merge, Type: bug

#321 TK-461- Fix : daysLeft null check removed to make the project row element grey
  frontend/src/components/TimeSheet/ProjectCard.js
Labels: Status: Review needed, Type: frontend

#320 TK-452- Fix for create new event
  frontend/src/components/Events/NewEventTemplateForm.js
Labels: Priority: Critical, Type: frontend

#324 TK-452- REVERT back changes to previous use case for start and end datetime field
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.less
Labels: Priority: High, Type: frontend

#325 TK-458 cannot create an eventTemplate with an existing name + same start/end day
  pom.xml
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/resources/db/migration/V19__add_unique_index_date_for_eventtemplate.sql
  src/test/java/fr/lunatech/timekeeper/models/time/UserEventTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ClientResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/EventTemplateResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/InfrastructureTest.java
  src/test/java/fr/lunatech/timekeeper/resources/OrganizationResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/PersonalTimesheetsResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ProjectResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeEntryResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeSheetResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/EventTemplateServiceTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceIntegrationTest.java
  src/test/java/fr/lunatech/timekeeper/testcontainers/KeycloakTestResource.java
  src/test/resources/application.properties
Labels: Priority: Low, Status: Review needed, Type: backend

#328 TK-452 - Fix: Add new event
  frontend/src/components/Events/NewEventTemplateForm.js
Labels: Priority: Critical, Status: Review needed

#330 TimeEntry uses startDateTime and endDateTime to store time entries
  src/main/java/fr/lunatech/timekeeper/models/time/TimeEntry.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/TimeEntryRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponse.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtils.java
  src/main/resources/db/migration/V20__alter_timeentries_revert_to_enddatetime.sql
  src/test/java/fr/lunatech/timekeeper/models/time/TimeEntryTest.java
  src/test/java/fr/lunatech/timekeeper/models/time/UserEventTest.java
  src/test/java/fr/lunatech/timekeeper/resources/PersonalTimesheetsResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeEntryResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/AuthenticationContextTest.java
  src/test/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponseTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtilsTest.java
Labels: Priority: High, Status: Review needed, Status: ready to merge

#334 TK-470 list of available projects for a user when one create a new timeEntry
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/utils/timeSheetUtilsFilteredProjects.test.js
  frontend/src/utils/timesheetUtils.js
Labels: Status: ready to merge, Type: frontend, java, javascript

#329 TK-461 - Modification as per the comments/suggestion in jira ticket
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/TimeSheet/ProjectCard.js
  frontend/src/components/TimeSheet/ProjectCard.test.js
  frontend/src/components/TimeSheet/UserTimeSheetList.js
  frontend/src/components/TimeSheet/UserTimeSheetList.less
  frontend/src/hoc/Aux.js
Labels: Status: ready to merge, Type: frontend, javascript

#331 TK-463 - Description link clickable
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/Projects/ProjectList.js
  frontend/src/components/Projects/ProjectList.less
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/components/TimeSheet/ProjectCard.js
  frontend/src/components/TimeSheet/ProjectCard.test.js
  frontend/src/components/TimeSheet/UserTimeSheetList.js
  frontend/src/utils/timesheetUtils.js
Labels: Status: ready to merge, Type: frontend, javascript

#332 TK-454 add personalEvent and userEvent on the backend and frontend
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/EventsNavBar.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/pages/Event/eventsPage.js
  src/main/java/fr/lunatech/timekeeper/models/User.java
  src/main/java/fr/lunatech/timekeeper/models/time/UserEvent.java
  src/main/java/fr/lunatech/timekeeper/resources/EventTemplateResource.java
  src/main/java/fr/lunatech/timekeeper/resources/PersonalResource.java
  src/main/java/fr/lunatech/timekeeper/resources/UserEventResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/EventTemplateResourceApi.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/PersonalResourceApi.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/UserEventResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/EventTemplateService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/EventTemplateRequest.java
  src/main/java/fr/lunatech/timekeeper/services/requests/UserEventRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/Attendee.java
  src/main/java/fr/lunatech/timekeeper/services/responses/EventTemplateResponse.java
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
  src/test/java/fr/lunatech/timekeeper/resources/EventTemplateResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/PersonalResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ProjectResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserEventResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/DataTestProvider.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/ResourceDefinition.java
  src/test/java/fr/lunatech/timekeeper/resources/utils/ResourceFactory.java
  src/test/java/fr/lunatech/timekeeper/services/EventTemplateServiceTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceIntegrationTest.java
  src/test/java/fr/lunatech/timekeeper/services/responses/UserEventResponseTest.java
Labels: Type: backend, Type: frontend

#327 feature/TK-456
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/NewEventTemplateForm.js
Labels: Status: Review needed, Type: frontend
