Repository lunatech-labs/lunatech-timekeeper, pull requests merged in 2020-07, with the labels that each got.

#268 Refactor the disabledTime function for AntD RangePicker
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/NewEventTemplateForm.js
Labels: Priority: Medium, Status: Review needed, Status: ready to merge, Type: frontend, javascript

#271 TK-403-Add user component for event creation and edition
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/EventsList.less
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Events/UserTreeData.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#275 TK-437 Show footer + left menu is expanded
  frontend/src/App.less
  frontend/src/pages/MainPage/MainPage.js
Labels: Priority: Low, Status: ready to merge, Type: frontend, javascript
