Repository lunatech-labs/lunatech-timekeeper, pull requests merged in 2020-08, with the labels that each got.

#276 TK-432-TimeEntries limit 8hrs a day
  frontend/src/components/Clients/ClientList.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/Projects/ProjectClientHeader.js
  frontend/src/components/Projects/ProjectList.js
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/AddEntryForm.less
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.less
  frontend/src/components/TimeEntry/SelectHoursComponent.js
  frontend/src/components/TimeEntry/TimeEntryForm.js
  frontend/src/variables.less
Labels: Priority: Medium, Status: Review needed, Type: frontend

#279 Add some javascript unit tests to momentUtils.js
  frontend/package.json
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: Priority: Low, Status: Experimental, Status: Review needed, Type: unit tests, javascript

#277 Gauges and configuration for clever cloud
  infrastructure/docker-compose.yml
  infrastructure/monitoring/Dockerfile
  infrastructure/monitoring/prometheus/prometheus-acceptance.yml
  infrastructure/monitoring/prometheus/prometheus-dev.yml
  src/main/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGauge.java
  src/main/java/fr/lunatech/timekeeper/services/TimeEntryService.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/test/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGaugeTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtilsTest.java
Labels: Priority: Low, Status: Review needed, Type: backend, Type: unit tests

#286 TK 445 display events by date order
  frontend/src/components/Events/EventsList.js
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#284 TK-370 add event inside calendar
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/components/Events/EditEventTemplateForm.js
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/NewEventTemplateForm.js
  frontend/src/components/TimeEntry/TimeEntry.js
  frontend/src/components/TimeEntry/TimeEntryForm.js
  frontend/src/components/TimeSheet/MonthCalendar.js
  frontend/src/components/TimeSheet/MonthCalendar.less
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/UserEvent/UserEvent.js
  frontend/src/components/UserEvent/UserEvent.less
  frontend/src/components/UserEvent/UserEventCard.js
  frontend/src/components/UserEvent/UserEventCard.less
  frontend/src/pages/TimeSheet/timeEntriesPage.js
  frontend/src/utils/configUtils.js
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
  src/main/java/fr/lunatech/timekeeper/services/MonthService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/WeekService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/UserEventResponse.java
  src/test/java/fr/lunatech/timekeeper/services/responses/UserEventResponseTest.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement, Type: backend, Type: frontend, Type: unit tests

#288 Send logs to Elasticsearch using logstash
  infrastructure/elk/elk.yml
  infrastructure/elk/logstash/.clever.json
  infrastructure/elk/logstash/Dockerfile
  infrastructure/elk/logstash/config/logstash.conf
  infrastructure/elk/logstash/config/logstash.yml
  pom.xml
  src/main/java/fr/lunatech/timekeeper/resources/handlers/CalendarNotFoundExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ConflictOnVersionExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/CreateResourceExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ForbiddenExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/IllegalEntityStateExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/ResourceNotFoundExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/RollbackExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/handlers/UpdateResourceExceptionMapper.java
  src/main/java/fr/lunatech/timekeeper/resources/providers/AuthenticationContextProvider.java
  src/main/resources/application.properties
Labels: Status: Review needed, Type: backend, Type: build DevOps

#291 TK-370-Changes Requested, refacto, TU
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/components/UserEvent/UserEvent.js
  src/main/java/fr/lunatech/timekeeper/services/MonthService.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/WeekService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/MonthResponse.java
  src/main/java/fr/lunatech/timekeeper/services/responses/WeekResponse.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceTest.java
Labels: Priority: High, Status: Review needed, Type: backend

#293 TK-443 Events forms improvement
  frontend/src/components/Events/UserTreeData.js
  frontend/src/components/Events/UserTreeData.less
Labels: Priority: Medium, Status: Review needed, Type: frontend

#290 TK-439 - The combination of name + startDate/endDate must be unique i…
  src/main/java/fr/lunatech/timekeeper/resources/EventResource.java
  src/main/java/fr/lunatech/timekeeper/resources/openapi/EventResourceApi.java
  src/main/java/fr/lunatech/timekeeper/services/EventTemplateService.java
  src/main/java/fr/lunatech/timekeeper/services/WeekService.java
  src/test/java/fr/lunatech/timekeeper/resources/EventResourceTest.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement, Type: backend

#294 TK 449 add events searchbar
  frontend/src/components/Events/EventsList.js
  frontend/src/components/Events/EventsList.less
  frontend/src/components/Events/UserTreeData.js
  frontend/src/components/UserEvent/UserEvent.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#297 TK-451-Disable day's details for public holidays
  frontend/src/components/TimeSheet/WeekCalendar.js
  frontend/src/pages/TimeSheet/timeEntriesPage.js
  frontend/src/utils/momentUtils.js
  frontend/src/utils/momentUtils.test.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#296 TK-450 disable a project in timeEntry forms
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/components/TimeEntry/AddEntryForm.js
  frontend/src/components/TimeEntry/EditEntryForm.js
  frontend/src/utils/configUtils.js
  frontend/src/utils/timesheetUtils.js
  frontend/src/utils/timesheetUtils.test.js
Labels: Priority: Medium, Status: Review needed, Type: frontend

#298 TK-446 - Modify entity "timeSheet" in order to add a StartDate
  src/main/java/fr/lunatech/timekeeper/models/time/TimeSheet.java
  src/main/java/fr/lunatech/timekeeper/services/TimeSheetService.java
  src/main/java/fr/lunatech/timekeeper/services/requests/TimeSheetRequest.java
  src/main/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponse.java
  src/main/resources/db/migration/V15__add_startdate_to_timesheet.sql
  src/test/java/fr/lunatech/timekeeper/resources/PersonalTimesheetsResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ProjectResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeEntryResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeSheetResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/responses/TimeSheetResponseTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtilsTest.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement, Type: backend

#301 Split unit tests from integrations tests on Maven and merge reports for Sonar
  README.md
  pom.xml
  src/main/resources/application.properties
  src/test/java/fr/lunatech/timekeeper/gauges/TimeEntriesNumberPerHoursGaugeTest.java
  src/test/java/fr/lunatech/timekeeper/models/time/UserEventTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ClientResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/EventResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/InfrastructureTest.java
  src/test/java/fr/lunatech/timekeeper/resources/OrganizationResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/PersonalTimesheetsResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/ProjectResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeEntryResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeSheetResourceTest.java
  src/test/java/fr/lunatech/timekeeper/resources/UserResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceTest.java
  src/test/java/fr/lunatech/timekeeper/timeutils/TimeSheetUtilsTest.java
  src/test/resources/application.properties
Labels: Priority: Medium, Status: ready to merge, Type: build DevOps

#299 TK-XX- Authentification context refacto
  src/main/java/fr/lunatech/timekeeper/services/AuthenticationContext.java
  src/main/java/fr/lunatech/timekeeper/services/UserEventService.java
  src/main/java/fr/lunatech/timekeeper/services/responses/WeekResponse.java
  src/main/java/fr/lunatech/timekeeper/timeutils/TimeKeeperDateUtils.java
  src/test/java/fr/lunatech/timekeeper/resources/OrganizationResourceTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceIntegrationTest.java
  src/test/java/fr/lunatech/timekeeper/services/UserEventServiceTest.java
Labels: Priority: Low, Status: Review needed, Type: backend

#300 TK-447 add start date to timesheet form
  frontend/src/components/TimeSheet/EditTimeSheetForm.js
  frontend/src/components/TimeSheet/ShowTimeSheet.js
  frontend/src/utils/momentUtils.test.js
  src/main/java/fr/lunatech/timekeeper/services/TimeSheetService.java
  src/test/java/fr/lunatech/timekeeper/resources/TimeSheetResourceTest.java
Labels: Priority: Medium, Status: Review needed, Type: Enhancement
